@CHARSET "ISO-8859-1";

.container{
/*	padding:1px;*/
}
.navbar-inverse{
	background-color:#800101!important;
	margin-bottom:0px;
}
header .container{
	margin-top: 5px;
}
header .container .carbonad{
	width:auto;
	float:left;
}
header .container .login{
	width:300px;
	float:left;
	position:relative;
	margin:5px 10px 0 70px;	
}
header .container .login p a{
	color:#000;
}
header .container .login p a:hover{
	color:#A0A0A0;
}
#carrinho-container{
	float:right;
	padding:0px 0 0px 10px;
	width:auto;
	height:auto;
}
#carrinho-container img{
	margin:5px 30px 0 25px;
}
.search-query{
	width:280px!important;
	border-radius:0!important;
}
.span3{
	margin-left:0;
}
.nav-list{
	padding:0px;
}
.nav-list > li > a, .nav-list .nav-header {
	margin-left: -16px;
    margin-right: -17px
    color:#000;
}
.nav-list > .active > a, .nav-list > .active > a:hover, .nav-list > .active > a:focus{
	background:#515151;
}
.nav > li > a{
	color:#5A5A5A;
}
.breadcrumb{
	margin:0;
	background:#fff;
}
.breadcrumb a{
	color:#999999;
}
.carousel{
	margin-bottom:10px;
}
footer{
	background-color:#515151;
	background-repeat: repeat-y;
	height: 150px;
	width:100%;
	clear: both;
	float: left;
}
footer p{
	margin-top:10px;
	color:#fff;
}